.DS_Store
**/.DS_Store
.ipynb_checkpoints
**/.ipynb_checkpoints
.idea
README.html
ManagedkdbInsights/boto/scratch.q
ManagedkdbInsights/basic_tick/env_kdb_1.py
ManagedkdbInsights/update_cluster/codebundle1.zip
.Rhistory
